@font-face {
  font-family: 'budmo';
  src: url('../fonts/budmo_jiggler-webfont.woff') format('woff'),
       url('../fonts/budmo_jiggler-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: red;

  .jason {
    font-family: 'budmo';
    color: blue;
    background: url('../media/mind_blown.gif');
  }
}
